body
{
	background: rgb(81, 59, 141);
}

	.login_div1 , .login_div2
	{
		background: rgb(7, 68, 117);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(133, 9, 9);
border-radius: 10px;
border-top: 10px solid #ce3e6b;
padding: 10px ;
float: none;
text-align: left;
}